
* {
    margin: auto;
    text-align: center;
    padding: 0;
  }
  
  html, body { height: 100%; }
  
  td {
    padding: 0 15px;
  }


  body, form {
    background-color: #FFF;
    font-size: 130%;
    font-family: calluna, Calluna, Georgia;
    font-weight: 300;
    line-height: 1.55em;
    padding: 0 2em;
    text-rendering: optimizeLegibility;
    color: #555;
  }
  
  
  a         { color: #00a; }
  a:hover   { color: #000; }
  a:visited { color: #a0a; }
  

  
